{% extends "base.html" %}

{% block title %}Super Pet Resources{% endblock %}

{% block content %}
<div class="container resources-container">
    <h1>Super Pet Resources</h1>
    
    <section class="resource-section">
        <h2>DC Comics Fan Sites</h2>
        <ul>
            <li><a href="https://www.dccomics.com/" target="_blank">DC Comics Official Site</a></li>
            <li><a href="https://www.dcuniverse.com/" target="_blank">DC Universe</a></li>
            <li><a href="https://www.dcfandome.com/" target="_blank">DC FanDome</a></li>
        </ul>
    </section>
    
    <section class="resource-section">
        <h2>Marvel Fan Sites</h2>
        <ul>
            <li><a href="https://www.marvel.com/" target="_blank">Marvel Official Site</a></li>
            <li><a href="https://www.marvel.com/unlimited" target="_blank">Marvel Unlimited</a></li>
            <li><a href="https://www.marvelcinematicuniverse.com/" target="_blank">Marvel Cinematic Universe</a></li>
        </ul>
    </section>
    
    <section class="resource-section">
        <h2>Pet Care Resources</h2>
        <ul>
            <li><a href="https://www.akc.org/" target="_blank">American Kennel Club (AKC)</a></li>
            <li><a href="https://www.aspca.org/" target="_blank">ASPCA</a></li>
            <li><a href="https://www.petfinder.com/" target="_blank">Petfinder</a></li>
            <li><a href="https://www.humanesociety.org/" target="_blank">The Humane Society</a></li>
        </ul>
    </section>
</div>
{% endblock %}
